body {
  background: white;
  box-sizing: border-box;
  margin:0;
  color: #212121;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: #212121;
  text-decoration: none;
  border-bottom: 1px solid #212121;
}

a:hover {
  color: #F44336;
  text-decoration: none;
  border-bottom: 1px solid #F44336;
}

.nav{
  width:100%;
  height: 51px;
  background: #212121;
  position: fixed;
  box-sizing: inherit;
  color: white;
  z-index: 1;
  top: -1px;
}

.nav ul{
  position: absolute;
  right: 0;
  top: 14px;
  text-align: right;
  list-style: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  margin: auto;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.nav .site-title{
  position: absolute;
  top: 14px;
  text-align: right;
  list-style: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  margin: auto;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.nav li{
  display: inline-block;
  margin: 0 15px;
}

.nav ul li a{
  color: white;
  opacity:0.9;
  text-decoration: none;
  border: none;
}

.nav ul li a:hover{
  opacity: 1;
}

.menu-box{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 16px;
  margin-right: 5px;
}

.menu-box::before {
      content:"";
      width:23px;
      height: 2px;
      background: white;
      box-shadow: 
        0 8px 0 0 white,
        0 16px 0 0 white;
      display: none;
    }

.menu-box:hover::before {
  background: #F44336;
  box-shadow: 
        0 8px 0 0 #F44336,
        0 16px 0 0 #F44336;
}

.wrapper{
  width: 100%;
  padding: 5px;
  position: relative;
  top: 50px;
  margin: auto;
  background: white;
  box-sizing: inherit;
  display: block;
}

.clearfix:before {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.box {
  width: 25%;
  display: block;
  float: left;
  box-sizing: inherit;
  vertical-align: top;
  padding-top: 25%;
  position:relative;
  border: 5px solid white;
  box-sizing: border-box;
}

.box:nth-child(2), .box:nth-child(4) {
  width: 50%;
}

.box_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  background-size:cover;
  background-position: center;
}

.box_wrapper::before {
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(32,32,32,0.75); /* Standard syntax */
  transition: all 0.5s ease 0s; 
  -webkit-transition: all 0.5s ease 0s;
}

.box_wrapper:hover::before {
  opacity: 0;
}


p.title{
  max-height: 100%;
  margin: 20px 20px 0 20px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 2rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

p.title span{
  background: rgba(0,0,0,0.6);
}

p.tag{
  margin: 0 0 0 20px;
  color: white;
  font-weight: 300;
  color: black;
  font-size: 0.9rem;
  position: relative;
}

p.tag span{
  background: rgba(255,255,255,0.9);
  padding: 0 2px;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  line-height: 1.7rem;
}

p.meta {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
  color: dimgray;
}

footer {
  width: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  padding: 0 0 2.5px 0;
  display: block;
}

.header-image {
  width: calc(100% + 5px);
  height: 350px;
  margin: -2.5px;
  background-size:cover;
  background-position: center;
}

.post-content {
  width: 100%;
  max-width: 1024px;
  min-height: 900px;
  margin: auto;
}

.post-content h1 {
  width: 100%;
  max-width: 750px;
  margin: 2rem auto;
  padding: 0 25px;
  box-sizing: border-box;
  font-family: "Playfair Display SC", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: left;
  text-transform: uppercase;
  line-height: 3rem;
}

.post-content p{
  width: 100%;
  max-width: 750px;
  margin: 2rem auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.post-content > img {
  width: 100%;
  height: auto;
}

.d3-content {
  width: 100%;
  margin:0;
  -webkit-font-smoothing: auto;
}

.post-footer {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.footer-meta-wrapper {
  width: 100%;
  max-width: 750px;
  margin: 2rem auto;
  padding: 0 25px;
  box-sizing: border-box;
}

.footer-meta {
  width: 100%;
  margin: 2rem auto;
  box-sizing: border-box;
  border-top: 1px solid #E0E0E0;
  position: relative;
}



.author-image {
  width: 80px;
  height: 80px;
  margin:2rem 0;
  border-radius: 50%;
  background: black;
  background-size:cover;
  background-position: center;
  display: inline-block;
}

.author-meta {
  width: calc(100% - 80px);
  position: absolute;
  margin:2rem 0;
  display: inline-block;
  padding: 0 25px;
  box-sizing: border-box;
}

.author-meta h4{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0 0 5px 0;
  box-sizing: border-box;
}

.author-meta p{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin:0;
  box-sizing: border-box;
}

.prev-title, .next-title{
  width: 50%;
  margin:0;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #212121;
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  box-sizing: border-box;
  display: inline-block;
}

.prev-title {
  padding-right: 2rem;
}

.next-title {
  padding-left: 2rem;
}

p.next-title{
  text-align: right;
}

@media screen and (max-width: 1024px) {
    .wrapper{
      width: 100%;
    }
    
    .box:nth-child(2), .box:nth-child(3), .box:nth-child(6){
      width: 66.66%;
      padding-top: 33.33%;
    }
    
    .box, .box:nth-child(4) {
      width: 33.33%;
      padding-top: 33.33%;
    }

}

@media screen and (max-width: 800px) {
    .wrapper{
    width: 100%;
    }
    
    .box:nth-child(1), .box:nth-child(4) {
    width: 100%;
    padding-top: 50%;
    }
    
    .box,.box:nth-child(2),.box:nth-child(3) ,.box:nth-child(6)  {
    width: 50%;
    padding-top: 50%;
    }


}

@media screen and (max-width: 576px) {
    .wrapper{
    width: 100%;
    padding: 2px 0;
    }
    
    .header-image {
    width: 100%;
    height: 350px;
    margin: -2px 0;
}
    
    .box, .box:nth-child(1), .box:nth-child(2), .box:nth-child(3), .box:nth-child(4), .box:nth-child(5), .box:nth-child(6), .box:nth-child(8) {
    width: 100%;
    padding-top: 60%;
    margin: 2px 0;
    border: 0;
    }
    
    .nav ul {
      display:none;
    }
    
    .nav .site-title{
      font-weight: 400;
    }
    
    .menu-box, .menu-box::before {
      display: block;
    }
    
    .author-image {
      margin: 2rem auto;
      display: block;
      margin-bottom: 20px;
    }
    
    .author-meta {
      width: 100%;
      margin: auto;
      position: relative;
    }
    
    .author-meta h4, .author-meta p{
      text-align: center; 
    }
    
    p.prev-title, p.next-title{
      width: 100%;
    }
    
    .post-content h1, .post-content p, .footer-meta-wrapper {
      padding: 0 20px;
    }
}
