svg {
  background: #404040;
  margin-left: -6%;
}

.axis path,
.axis line {
                fill: none;
                stroke: lightgray;
                stroke-width:1px;
                stroke-opacity: 0.1;
                shape-rendering: crispEdges;
            }

path {
  stroke: black;
  stroke-width: 0.1px;
  fill: grey;
  fill-opacity:0.9;
}

text {
                font-family: "Lato", Helvetica, Arial, sans-serif;
                fill: white;
		font-weight: 300;
		pointer-events: none;
		letter-spacing: normal;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
            }